.vscode
node_modules
venv
.venv
.testing
/dist/bin
/dist/lib
/dist/test

.env
.DS_Store

*~
*.js
*.mjs
*.d.ts
*.d.mts
*.map

!esbuild.js
!eslint.config.js
!vitest.config.js
!/dist/lib/**/*.js
!/dist/lib/**/*.d.ts
!/dist/lib/**/*.d.mts
